*{
    padding: 0px;
    margin: 0px;
    align-self: auto;
    box-sizing: border-box;
}
body{
    width: 100%;
    max-height: 100vh;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

#div-body {
    /*margin-left: auto;
    margin-right: auto;
    background-color: blue;
    background-image: url("./Blue\ Black\ Wallpaper\ Background.jpg");

    width: 50%;} */
    max-width:375px;
    height: 250px;
    margin: 160px auto;
    border-bottom: 3px solid lightskyblue;
    background-size: cover;
    background-image: url("./Backgrounds\ Green.jpeg");
    opacity: 0.8;
    transform: translate(5%);
}

#please-button{
    border: none;
    background-color: rgb(209, 222, 226);
    color: black;
    margin: 18px 0 0 20px;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    width: 140px;
    height: 25px;
    padding: auto;
}

#label-div{
    height: 63px;
    width: 240px;
    background-color: transparent;
    color: black;
    font-size: 12px;
    padding: 0 3px;
    border: none ;
    float: right;
    margin: 49px 8px;

}
label{
    background-color: rgb(209, 222, 226);
    padding: 0px 4px;

}
#user, #password{
    height: 20px;
    width: 180px;
    position: relative;
    border: none;
    border-radius: 2px;
    background-color: rgb(209, 222, 226);
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding: 4px;
    border-radius: 2px;

}
#user:hover{
    border: none;
    border-bottom: 2px solid blue;

}
#password:hover{
    border: none;
    border-bottom: 2px solid blue;
}



#user{
    left: 6px;   
}
#password{
    left: 8.5px; 
}
#green-line{
    max-width: 375px;
    border: 1px solid lightskyblue;
    height: 10px;
    background-color: green;
    position: relative;
    top: 140px;
}
#button-div{
    height: 55px;
    width: 375px;
    background-color: transparent;
    color: black;
    font-size: 13px;
    padding: 0px;
    border: none ;
    margin-top: 140px;
 
}
#interswitch{
    height: 30px;
    width: 139px ;  
    color: blue;
    background-color: rgb(209, 222, 226);
    border: none;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin: 2px 22px; 
    text-align: left;
}
i{
   width: 2px;  
}
p{
    padding: 3px 10px; 
}
#exit{
    border: none ;
    border-radius: 4px;
    background-color: rgb(209, 222, 226);
    color: black;
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 8px;
    position: absolute;
    bottom: 15px;
    right: 95px;
    width: 70px;
    height: 18px;
    padding: auto;}
.exit{
        border: none ;
        border-radius: 4px;
        background-color: rgb(209, 222, 226);
        color: black;
        font-size: 10px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 8px;
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 70px;
        height: 18px;
        padding: auto;}
    
.exit:hover{
        border: 2.5px solid skyblue;
}
#exit:hover{
    border: 2.5px solid skyblue;
}
a{
    text-decoration: none;
    color: black;
}
a:active{
    color: aqua;

}
#icon-image{
    width: 32px;
    height: 30px;
    position: relative;
    top: -28px;
    left: 100px;
}

#product{
    width: 89.1%;
    height: 90vh;
    margin: 20px auto;
    background-color:rgb(60, 92, 160);
    transform: translate(0px 30px 32px);

}
header{
    width: auto;
    height: 35px;
    border-radius: 3px;
    background-color:rgb(167, 182, 199);

}
.fa-arrow-up-long{
    background-color: brown;
    margin-left: 60px;
    width: 40px;
    height: 70px;
}
#search{
    width: 54%;
    height:20px;
    color: black;
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;
    padding: auto;
    margin: 2px 15px;
    border: 1px solid lightslategray;
    background-color:rgb(166, 184, 196);
    
}
#product-div{
    width: 59.8vw;
    height: 435px;
    background-image: url("./Backgrounds\ Green.jpeg");
    background-size: cover;
    position: relative;
    right: -27vw;
    margin-top: -48px;
    display: inline-block;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
}
.item{
    width: 164px;
    height: 100px;
    background-color: white;
    border-radius: 3px;
    margin: 20px 8px 0px;
    display:inline-block;
    
}
.item:hover{
    border: 2px solid skyblue;
    background-color: rgb(205, 217, 247);

}
.item>p{
    text-align: center;
    font-size: 20px;
}
h4{width: fit-content;

    height: 25px;
    color: white;
    font-size: 12px;
    margin: 4px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding: 5px; 
     background-color: black;

}
h5{
    color: white;
    padding: 5px; 
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    position: relative;
    bottom: -13px;
    width: 50px;
    height: 18px;
    font-size: 10px;
}
th{
    border-left: 0.3px solid rgb(218, 205, 205);
    text-align: left;
    padding: 4px 10px;
    background-color: white;
    font-size: 13px;
}
hr{
    width: 26.4vw;
    border-bottom: 1px solid gray;
    height: 25px;
    position: absolute;
}
tbody{
    padding: 9px;
    
}
#amount-div{
    position: relative;
    top: 70px;
    font-size: 18px;
}
.qty{
    width: 53px;
    height: 18px;
}

#t1{
    width: 180px;
    height: 18px;
    
} tr{
    margin: 10px;
}

#table-div{
    width: 26.4vw;
    height: 55vh;
    background-color: white;
    float: left;
    margin: 25px 0 3px 13px;
}
#tender-div{
    width: 26.4vw;
    height: 18vh;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    bottom: 12vh;
}
.tender-type{
    width: 26.4vw;
    height: 19vh;
    background-color: transparent;
    padding: 5px;
    display: flex;
}
#tender-div> p{
    position: absolute;
    top: -11px;
    width: 127px;
    background-color: transparent;
    font-size: 13px;
    font-weight: bolder;
}

.radio-div {
    width: 120px;
    height: 17.9vh;
    margin: 1px 4px;

}
.radio-div>input{
    width: 12px;
    width: 12px;
    margin: -10px 3px;
}
.radio-div>p, .radio-div2> p{
    color: black;
    font-size: 12px;
    font-weight: bolder;
    margin: -20px 10px;
}
.radio-div1>p{
    color: black;
    font-size: 13px;
    font-weight: bolder;
    margin: -23px 28px -14px;
}

.radio-div1 {
    width: 100px;
    height: 15vh;
    border: 1px solid white;
    background-color: transparent;
    color: black;
    font-size: 12px;
    margin: 3px 2px;
}
.radio-div1>input{
    margin: 5px 16px;
}
.radio-div2{
    height: 10vh;
    font-size: 9px;
    margin-top: 30px;
    margin-left: 8px;

}
input{
    width: 12px;
    height: 12px;
    margin: 4px;
}
.pay-button{
    width: 86px;
    height: 22px;
    margin: 5px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid black;
    color: rgb(92, 89, 89);
    background-color: whitesmoke;
}
#New-sale{
    color: rgb(45, 45, 75);
    
}
#New-sale:hover{
    background-color:rgb(166, 184, 196);
}
#com-div{
    height: 3.5vh;
    width: 90vw;
    position: absolute;
    bottom: 41px;
    right:50px
    
}
#com-div>h4{
    position: absolute;
    right:115px;
    background-color: transparent;
    color: black;
    top: -8px;
}
#com-div>p{
    color: navy;
    top: -3px;
    position: absolute;
    left: 190px;
    font-size: 14px;
    font-weight: bolder;
}
#com-port{
    position: absolute;
    right: 35px;
    background-color: whitesmoke;
    color: black;
    bottom: 3px;
    width: 80px;
    height: 20px;
    border: none;

}
#com-port:hover{
    border: none;
}

#com-port:visited{
    border: none;
}

#tender-type-div {
    width: 60px;
    height: 10px;
    width: 60px; }
